* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.main {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 5%;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  position: relative;
}

#share-btn {
  position: absolute;
  top: 10%;
  right: 1%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  border-radius: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#share-btn:hover {
  transform: scale(1.05);
}

#profile__img {
  border-radius: 50%;
  width: 225px;
}

#twitter, #slack {
  font-size: 0.875rem;
}

#slack {
  display: none;
}

.links {
  display: grid;
  grid-gap: 1rem;
}

.links a {
  display: block;
  background-color: #EAECF0;
  color: #101828;
  height: 96px;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 1rem;
  border-radius: 0.375rem;
}

.links a .title {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}

.links a .subtext {
  font-size: 0.875rem;
  text-align: center;
}

.links a:hover {
  opacity: 0.8;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.icons {
  margin: 2rem 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  border-top: 1px solid rgb(243, 244, 245);
}

footer p {
  flex: 1;
  text-align: center;
}

footer img {
  width: 140px;
}

@media(max-width: 600px) {
  footer {
    flex-direction: column;
    align-items: start;
  }
}